<div class=" header bg-primary pb-4">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <!-- <h6 class=" h2 text-white d-inline-block mb-0">EnergyPlus</h6> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Attributes
http://bahamut.tamu.edu/Images/20150401%20IC3%204_0/Documentation/User%20Manual.pdf -->

<!-- Icons
https://fontawesome.com/v5/search -->

<div class="container-fluid mt--6">

  <div class="row">
    <div class="col-lg-12">
      <div class="card-wrapper">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <h3 class=" mb-0">Simulador</h3>
              </div>
              <div class="col-md-6 text-right">
                <button class=" btn btn-secondary" (click)="save()">Guardar</button>
                <button class=" btn btn-info" (click)="simulate()">Simular</button>
              </div>
            </div>

            <div class="card-body">
              <form>
                <tabset type="pills"
                  class="nav-fill flex-column flex-md-row tab-container">
                  <tab>

                    <ng-template tabHeading>1. Proyecto</ng-template>
                    <app-proyecto></app-proyecto>

                  </tab>

                  <tab>

                    <ng-template tabHeading>2. General</ng-template>
                    <app-general></app-general>

                  </tab>

                  <tab>

                    <ng-template tabHeading>3. Pared expuesta</ng-template>
                    <div class="card">
                      <div class="card-header">
                        <div class="d-flex justify-content-between">
                          <div class="pr-2">
                            <h5 class="h4 card-title mb-1">Pared expuesta</h5>
                            <p class="help-text m-0">
                              Defina la sección constructiva de las paredes exteriores expuestas de su proyecto. Debe detallar las capas que constituyen cada pared  con sus respectivos materiales y espesores.
                              En caso de que alguna orientación, tenga más de un tipo de pared, se debe considerar la que tenga mayor área.
                            </p>
                            <p class="help-text mt-2">
                              En caso de que alguna pared no esté expuesta, mantenerla como "Sin Valor".
                            </p>
                          </div>
                          <img src="assets/img/formReferences/3.4VentanasGeneral.jpg" width="230px" class="mr-4">
                          <img src="assets/img/formReferences/3.1ParedCapas.jpg" width="200px">
                        </div>
                        
                      </div>
                    </div>
                    <accordion [isAnimated]="false" [closeOthers]="true">
                      <accordion-group *ngFor="let location of locations">

                        <h5 class="mb-0 row" accordion-heading>
                          <span class="col-2">Pared {{ location | titlecase }}</span>
                          <span class="col-2 offset-6 text-right"
                            id="pared{{ location | titlecase }}UV"></span>
                          <span class="col-2 text-right">
                            <span id="pared{{ location | titlecase }}Cumplimiento" class="badge badge-default"></span>
                          </span>
                        </h5>
                        <app-pared [location]="location"></app-pared>
                      </accordion-group>
                    </accordion>

                  </tab>

                  <tab>

                    <ng-template tabHeading><span id="tabTecho">4. Techo expuesto</span></ng-template>
                    <div class="card">
                      <div class="card-header">
                        <div class="d-flex justify-content-between">
                          <div class="pr-2">
                            <h5 class="h4 card-title mb-1">Techo expuesto</h5>
                            <p class="help-text m-0">
                              Defina la sección constructiva del techo o cubierta de su proyecto. Debe detallar las capas que lo constituyen con sus respectivos materiales y espesores.
                            </p>
                            <p class="help-text mt-2">
                              En caso de que el techo no esté expuesto al exterior, mantenerlo como "Sin Valor".
                            </p>
                          </div>
                          <img src="assets/img/formReferences/3.2TechoCapas.jpg" width="260px">
                        </div>
                        
                      </div>
                    </div>
                    <accordion [isAnimated]="false" [closeOthers]="true">
                      <accordion-group [isOpen]="true">
                        <h5 class="mb-0 row" accordion-heading>
                          <span class="col-2">Techo</span>
                          <span class="col-2 offset-6 text-right" id="techoUV"></span>
                          <!-- <span class="col-2 text-right" id="techoSRI"></span> -->
                          <span class="col-2 text-right">
                            <span id="techoCumplimiento" class="badge badge-default"></span>
                          </span>
                        </h5>
                        <app-techo></app-techo>
                      </accordion-group>
                    </accordion>

                  </tab>

                  <tab>
                    <ng-template tabHeading> <span id="tabPiso">5. Piso en contacto con terreno</span></ng-template>
                    <div class="card">
                      <div class="card-header">
                        <div class="d-flex justify-content-between">
                          <div class="pr-2">
                            <h5 class="h4 card-title mb-1">Piso en contacto con terreno</h5>
                            <p class="help-text m-0">
                              Indique el piso en contacto con el terreno de su proyecto. Debe detallar las capas que lo constituyen con sus respectivos materiales y espesores.
                            </p>
                            <p class="help-text mt-2">
                              En caso de que el piso no esté en contacto con el exterior, mantenerlo como "Sin Valor".
                            </p>
                          </div>
                          <img src="assets/img/formReferences/3.3PisoCapas.jpg" width="230px">
                        </div>
                      </div>
                    </div>
                    <!-- <app-piso></app-piso> -->
                    <accordion [isAnimated]="false" [closeOthers]="true">
                      <accordion-group [isOpen]="true">
                        <h5 class="mb-0 row" accordion-heading>
                          <span class="col-2">Piso</span>
                          <span class="col-2 offset-6 text-right" id="pisoUV"></span>
                          <span class="col-2 text-right"> 
                            <span id="pisoCumplimiento" class="badge badge-default"></span>
                          </span>
                        </h5>
                        <app-piso></app-piso>
                      </accordion-group>
                    </accordion>
                  </tab>

                  <tab>

                    <ng-template tabHeading>6. Ventana expuesta</ng-template>
                    <div class="card">
                      <div class="card-header">
                        <div class="d-flex justify-content-between">
                          <div class="pr-2">
                            <h5 class="h4 card-title mb-1">Ventana expuesta</h5>
                            <p class="help-text m-0">
                              Defina el tipo de ventanas y el área total por fachada.
                            </p>
                            <p class="help-text mt-2">
                              Si alguna fachada no tiene ventanas expuesta, mantener como "Sin Valor".
                            </p>
                          </div>
                          <img src="assets/img/formReferences/3.4VentanasGeneral.jpg" width="230px">
                        </div>
                      </div>
                    </div>
                    <accordion [isAnimated]="false" [closeOthers]="true">
                      <accordion-group *ngFor="let location of locations">

                        <h5 class="mb-0 row" accordion-heading>
                          <span class="col-2">Fachada {{ location | titlecase }}</span>
                          <span class="col-2 offset-4 text-right"
                            id="ventana{{location | titlecase}}UV"></span>
                          <span class="col-2 text-right"
                            id="ventana{{location | titlecase}}SHGC"></span>
                            <span class="col-2 text-right"> 
                              <span id="ventana{{location | titlecase}}Cumplimiento" class="badge badge-default"></span>
                            </span>
                        </h5>
                        <app-ventana [location]="location"></app-ventana>
                      </accordion-group>
                    </accordion>
                    <!-- <app-ventanas></app-ventanas> -->

                  </tab>

                  <tab id="contenidoImprimir">

                    <ng-template tabHeading>7. Resultado</ng-template>

                    <app-resultado [simulation]="{ confort, energia }"></app-resultado>

                  </tab>

                </tabset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modal [isModalOpen]="isLoading" [isLoading]="true"></app-modal>