<div class=" header bg-primary pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Categoría</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Attributes
http://bahamut.tamu.edu/Images/20150401%20IC3%204_0/Documentation/User%20Manual.pdf -->

<!-- Icons
https://fontawesome.com/v5/search -->

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-wrapper">
        <div class="card">
          <div class="card-header"><h3 class=" mb-0">Subcategoría</h3></div>

          <div class="card-body">
            <form>
              <div class="row">
                
                <div class="col-md-6">
                  <div
                    class="form-group"
                    [ngClass]="{ focused: focus === true }"
                  >
                    <label class="form-control-label">
                      Numérico
                    </label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-building"> </i>
                        </span>
                      </div>
                      
                      <input
                        class=" form-control"
                        placeholder="Numérico"
                        type="number"
                        min="1"
                        step="1"
                        (focus)="focus = true"
                        (blur)="focus = false"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-control-label">
                    Categórico
                  </label>

                  <select class=" form-control" data-toggle="select" id="selectr" (focus)="focus1 = true" (blur)="focus1 = false">
                    <option value="elemento1"> Elemento 1 </option>
                    <option value="elemento2"> Elemento 2 </option>
                    <option value="elemento3"> Elemento 3 </option>
                    <option value="elemento4"> Elemento 4 </option>
                    <option value="elemento5"> Elemento 5 </option>
                    <option value="elemento6"> Elemento 6 </option>
                  </select>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
