 <div class="row justify-content-left">
    <div class="col-md-4">
  
        <div class="card">

            <div class="card-header pb-0 border-0">
                <h5 class="h4 card-title mb-1">Tipo de vivienda</h5>
                <p class="help-text m-0">
                    Seleccione la opción de vivienda que se aproxime mejor a su proyecto
                </p>
            </div>
            
            <img
                alt="Image placeholder"
                class="card-img-top pt-4 px-3"
                src="assets/img/formReferences/2.1TipoVivienda.jpg" />

            <div class=" card-body">

                

                <div class=" custom-control custom-radio mb-3"
                    *ngFor="let option of options; index as i">
                    <input
                        class=" custom-control-input"
                        id="tipo{{i}}"
                        value="{{option.text}}"
                        (change)="addData($event.target.name,$event.target.value)"
                        name="inputTipo"
                        type="radio" />

                    <label class=" custom-control-label" for="tipo{{i}}">
                        {{option.text}}
                    </label>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-8">
        
        <div class="card">

            <div class="card-header pb-0 border-0">
                <h5 class="h4 card-title mb-1">Dimensiones</h5>
                <p class="help-text m-0">
                    Ingrese los valores solicitados
                </p>
            </div>

            <div class=" card-body">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- Longitud Referencial en Fachada -->
                        <div
                            class="form-group"
                            [ngClass]="{ focused: focus9 === true }">
                            <label class="form-control-label">
                                Longitud Fachada Frontal [m]
                                <form-info
                                    title="Longitud Fachada Frontal"
                                    image="assets/img/formReferences/2.4DimensionFachadaFrontal.jpg"
                                    description="
                                        Ingrese la longitud en metros de la fachada frontal de la vivienda seleccionada. 
                                        La dimensión se estima en línea recta.
                                    "
                                ></form-info>
                            </label>
                            <div class="input-group input-group-merge">
        
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-credit-card"> </i>
                                    </span>
                                </div>
        
                                <input
                                    class="form-control"
                                    placeholder="Longitud Fachada Frontal"
                                    type="number"
                                    id="inputLongitudFachada"
                                    (change)="addData($event.target.id,$event.target.value)"
                                    (focus)="focus9 = true"
                                    (blur)="focus9 = false"/>
                            </div>
                        </div>
                        <!-- Longitud Referencial en Fachada -->
                    </div>

                    <div class="col-md-6">
                        <!-- Longitud Referencial en Profundidad​ -->
                        <div
                            class="form-group"
                            [ngClass]="{ focused: focus10 === true }">
                            <label class="form-control-label">
                                Profundidad [m]
                                <form-info
                                    title="Profundidad"
                                    image="assets/img/formReferences/2.5Profundidad.jpg"
                                    description="
                                        Ingrese la profundidad en metros de la vivienda seleccionada. 
                                        La profundidad de la vivienda es el promedio entre las longitudes del lateral izquierdo y derecho. 
                                        
                                        Profundidad = (Lateral izquierdo + Lateral derecho) / 2
                                    "
                                ></form-info>
                            </label>
                            <div class="input-group input-group-merge">
        
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-credit-card"> </i>
                                    </span>
                                </div>
        
                                <input
                                    class="form-control"
                                    placeholder="Profundidad"
                                    type="number"
                                    id="inputLongitudProfundidad"
                                    (change)="addData($event.target.id,$event.target.value)"
                                    (focus)="focus10 = true"
                                    (blur)="focus10 = false"/>
                            </div>
                        </div>
                        <!-- Longitud Referencial en Profundidad​ -->
                    </div>

                    <div class="col-md-6">
                        <!-- Área Referencial​ -->
                        <div
                            class="form-group"
                            [ngClass]="{ focused: focus11 === true }">
                            <label class="form-control-label">
                                Área de construcción [m2]
                                <form-info
                                    title="Área de construcción"
                                    image="assets/img/formReferences/2.6Area.jpg"
                                    description="
                                        El área de construcción es el área interna de la vivienda. En el caso de la tipología de vivienda en altura, se considera el área de un solo piso.
                                    "
                                ></form-info>
                            </label>
                            <div class="input-group input-group-merge">
        
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-credit-card"> </i>
                                    </span>
                                </div>
        
                                <input
                                    class="form-control"
                                    placeholder="Área de construcción"
                                    type="number"
                                    id="inputArea"
                                    (change)="addData($event.target.id,$event.target.value)"
                                    (focus)="focus11 = true"
                                    (blur)="focus11 = false"/>
                            </div>
                        </div>
                        <!-- Área Referencial​ -->
                    </div>

                    <div class="col-md-6">
                        <!-- Altura Referencial​ -->
                        <div
                            class="form-group"
                            [ngClass]="{ focused: focus12 === true }">
                            <label class="form-control-label">
                                Altura Referencial [m]
                                <form-info
                                    title="Altura Referencial"
                                    image="assets/img/formReferences/2.7Altura.jpg"
                                    description="
                                        Indique la altura referencial considerando el tipo de vivienda y su gráfico correspondiente.
                                    "
                                ></form-info>
                            </label>
                            <div class="input-group input-group-merge">
        
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-credit-card"> </i>
                                    </span>
                                </div>
        
                                <input
                                    class="form-control"
                                    placeholder="Altura Referencial"
                                    type="number"
                                    id="inputAltura"
                                    (change)="addData($event.target.id,$event.target.value)"
                                    (focus)="focus12 = true"
                                    (blur)="focus12 = false"/>
                            </div>
                        </div>
                        <!-- Altura Referencial​ -->
                    </div>

                </div>
            </div>
        </div>
        
    </div>

</div>
