<i
  class="fas fa-info-circle info-button ml-1"
  (click)="openModal($event)"
></i>

<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  [ngClass]="{
    show: isFadeShow
  }"
  [ngStyle]="{
    display: isModalOpen ? 'block' : 'none'
  }"
  (click)="closeModal()"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    (click)="$event.stopPropagation(); $event.preventDefault();"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title || "Título" }}</h5>
      </div>
      <div class="modal-body">
        <div
          *ngIf="image"
          class="d-flex justify-content-center"
        >
          <img class="card-img-top mb-3" [src]="image">
        </div>
        <div
          *ngIf="parseDescription"
          [innerHTML]="parsedDescription"
        ></div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeModal()"
        >
          Entendido
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isModalOpen"
  class="modal-backdrop fade show"
></div>