<div class="row justify-content-center">
  <div class="col-md-2 mb-2 offset-md-10 text-right">
    <button class=" btn btn-sm btn-success" type="button"  (click)="addRowLayerWall()">
      Agregar capa
    </button>
  </div>
  <div class="col-md-12">

    <!-- {{ pared | json }} -->

    <!-- Pared expuesta -->
    <div class id="first-list">
      <table class="table align-items-center table-flush">
        <thead class=" thead-light">
          <tr>
            <th scope="col" class="w-130">Capa</th>

            <th scope="col" class="size-3">Material</th>

            <th scope="col">Espesor [cm]</th>

            <th scope="col">k [W/m-K]​</th>

            <th scope="col">Dens. [kg/m3]</th>

            <th scope="col">Cp [J/kg-K]​</th>

            <th scope="col" aria-hidden="true"></th>
          </tr>
        </thead>

        <tbody class="list">
          <p
            class="help-text mb-0 ml-4 rel-top-2"
            *ngIf="layers.length > 1"
          >
            Exterior
          </p>
          <tr
            *ngFor="let layer of layers; let i = index;"
            [ngClass]="{ borderLess: i === 0 }"
          >
            <th scope="row">
              <!-- Capa -->
              <input
                id="capaPared{{location | titlecase}}{{layer.idx}}"
                class="form-control"
                placeholder="1.0"
                disabled="disabled"
                value="Capa {{layer.idx}}">
              <!-- <span>Capa {{layer.idx}}</span> -->
              <!-- Fin Capa -->
            </th>

            <td>
              <!-- Material -->
              <select class="form-control upselectr" data-toggle="select"
                id="selectorParedMaterial{{location | titlecase}}{{layer.idx}}"
                (change)="onChange(location,layer.idx,$event.target.value)">
              </select>
              <!-- Fin Material -->
            </td>

            <td>
              <!-- Espesor -->
              <input
                id="inputParedEspesor{{location | titlecase}}{{layer.idx}}"
                class="form-control"
                placeholder="1.0"
                type="number"
                min="0.0"
                value="0.0"
                (change)="onChangeEspesor()" />
              <!-- Fin Espesor -->
            </td>

            <td>
              <!-- Conductividad térmica​ -->
              <input
                id="inputParedConductividad{{location | titlecase}}{{layer.idx}}"
                class="form-control"
                placeholder="0.30"
                disabled="disabled"
                type="number"
                min="0.0"
                value="0.30" />
              <!-- Fin Conductividad térmica​ -->
            </td>

            <td>
              <!-- Densidad -->
              <input
                id="inputParedDensidad{{location | titlecase}}{{layer.idx}}"
                class="form-control"
                placeholder="1400.0​"
                disabled="disabled"
                type="number"
                min="0.0"
                value="1400.0​" />
              <!-- Fin Densidad​ -->
            </td>

            <td>
              <!-- Calor especifico -->
              <input
                id="inputParedCalor{{location | titlecase}}{{layer.idx}}"
                class="form-control"
                placeholder="1000.0​"
                disabled="disabled"
                type="number"
                min="0.0"
                value="1000.0​​" />
              <!-- Fin Calor especifico -->
            </td>

            <td>
              <span
                class="d-flex justify-content-center remove-button"
                (click)="removeRowLayerWall(layer.idx)"
              >
                <i class="fas fa-times"></i>
              </span>
            </td>
          </tr>
          <p
            class="help-text mb-0 ml-4"
            *ngIf="layers.length > 1"
          >
            Interior
          </p>
        </tbody>
      </table>
    </div>
    <!-- Fin -->

  </div>

  <!-- <div class="col-md-3"> -->

  <!-- Pared expuesta Resultado -->
  <!-- <div
        class="form-group">
        <label class="form-control-label">
          Resultado: Valor U [W/m2-K]​
        </label>
        <div class="input-group input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-arrow-right"> </i>
            </span>
          </div>

          <input
            class="form-control"
            placeholder="0.0"
            id="paredUV{{location}}" />
        </div>
      </div> -->
  <!-- Fin -->
  <!-- </div> -->

</div>