<div class="row justify-content-center">
  <div class="col-md-2 mb-2 offset-md-10 text-right">
    <button class=" btn btn-sm btn-primary" type="button"  (click)="addRowCapaPared()">
      Agregar capa
    </button>
  </div>
  <div class="col-md-12">

    <!-- Pared expuesta -->
    <div class id="first-list">
      <table class=" table align-items-center table-flush">
        <thead class=" thead-light">
          <tr>
            <th scope="col" class="size-1">Capa</th>

            <th scope="col">Material</th>

            <th scope="col" class="size-1">Espesor [cm]</th>

            <th scope="col" class="size-1">k [W/m-K]​</th>

            <th scope="col" class="size-1">Dens. [kg/m3]</th>

            <th scope="col" class="size-1">Cp [J/kg-K]​</th>

          </tr>
        </thead>

        <tbody class=" list">

          <tr *ngFor="let layer of layers; let i = index;">
            <th scope="row">
              <!-- Capa -->
              <span>Capa {{layer.idx}}</span>
              <!-- Fin Capa -->
            </th>

            <td>
              <!-- Material -->
              <select class="form-control upselectr" data-toggle="select"
                id="selectrMaterial{{location}}{{layer.idx}}"
                (change)="onChange(location,layer.idx,$event.target.value)">
              </select>
              <!-- Fin Material -->
            </td>

            <td>
              <!-- Espesor -->
              <input
                id="selectrEspesor{{location}}{{layer.idx}}"
                class="form-control"
                placeholder="1.0"
                type="number"
                min="0.0"
                step=".01"
                value="0.0"
                (change)="onChangeEspesor()" />
              <!-- Fin Espesor -->
            </td>

            <td>
              <!-- Conductividad térmica​ -->
              <input
                id="selectrConductividad{{location}}{{layer.idx}}"
                class="form-control"
                placeholder="0.30"
                disabled="disabled"
                type="number"
                min="0.0"
                step=".01"
                value="0.30" />
              <!-- Fin Conductividad térmica​ -->
            </td>

            <td>
              <!-- Densidad -->
              <input
                id="selectrDensidad{{location}}{{layer.idx}}"
                class="form-control"
                placeholder="1400.0​"
                disabled="disabled"
                type="number"
                min="0.0"
                step=".01"
                value="1400.0​" />
              <!-- Fin Densidad​ -->
            </td>

            <td>
              <!-- Calor especifico -->
              <input
                id="selectrCalor{{location}}{{layer.idx}}"
                class="form-control"
                placeholder="1000.0​"
                disabled="disabled"
                type="number"
                min="0.0"
                step=".01"
                value="1000.0​​" />
              <!-- Fin Calor especifico -->
            </td>

          </tr>

        </tbody>
      </table>
    </div>
    <!-- Fin -->

  </div>

  <!-- <div class="col-md-3"> -->

  <!-- Pared expuesta Resultado -->
  <!-- <div
        class="form-group">
        <label class="form-control-label">
          Resultado: Valor U [W/m2-K]​
        </label>
        <div class="input-group input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-arrow-right"> </i>
            </span>
          </div>

          <input
            class="form-control"
            placeholder="0.0"
            id="paredUV{{location}}" />
        </div>
      </div> -->
  <!-- Fin -->
  <!-- </div> -->

</div>