<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header pb-0 border-0">
                        <h5 class="h4 card-title mb-4">Datos del proyecto</h5>
                        <!-- {{result | json }} -->
                    </div>
                    <div class="card-body">
                        <table class="table align-items-center table-flush">
                            <tbody class=" list">
                                <tr>
                                    <th>Nombre del Proyecto</th>
                                    <td>{{result?.nombreProyecto ?? '---' }}</td>
                                </tr>
                                <tr>
                                    <th>Pais</th>
                                    <td>Ecuador</td>
                                </tr>
                                <tr>
                                    <th>Ciudad</th>
                                    <td>{{result?.selectorCiudad}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row justify-content-center mt-3">
                            <div class="col-md-6">
                                <table
                                    class="table align-items-center table-flush">
                                    <tbody class=" list">
                                        <tr>
                                            <th>Propietario</th><td></td>
                                        </tr>
                                        <tr>
                                            <th>CI/RUC</th><td>{{result?.inputPropietarioCI
                                                ?? '-'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre</th><td>{{result?.inputPropietarioNombre
                                                ?? '-'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table
                                    class="table align-items-center table-flush">
                                    <tbody class=" list">
                                        <tr>
                                            <th>Técnico</th><td></td>
                                        </tr>
                                        <tr>
                                            <th>CI/RUC</th><td>{{result?.inputTecnicoCI
                                                ?? '-'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre</th> <td>{{result?.inputTecnicoNombre
                                                ?? '-'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header pb-0 border-0">
                        <h5 class="h4 card-title mb-4">Tipología del proyecto</h5>
                    </div>
                    <div class="card-body">
                        <table class="table align-items-center table-flush">
                            <tbody class=" list">
                                <tr>
                                    <th>Tipología</th>
                                    <td>{{result?.inputTipo ?? '-'}}</td>
                                </tr>
                                <tr>
                                    <th>Área Total</th>
                                    <td>{{result?.inputArea ?? '0.0'}} [m2]</td>
                                </tr>
                                <tr>
                                    <th>Zona Climática</th>
                                    <td>{{result?.selectorZona || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header pb-0 border-0">
                        <h5 class="h4 card-title mb-4">Resumen de requisitos
                            prescriptivo</h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <table
                                    class="table align-items-center table-flush">
                                    <tbody class=" list">
                                        <tr>
                                            <th>Techo</th><td></td>
                                        </tr>
                                        <tr>
                                            <th>Valor U</th>
                                            <td>
                                                {{result?.techoUV
                                                ?? '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.techoCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <th>SRI</th><td>{{result?.techoSRI
                                                ?? '0.0'}}</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table
                                    class="table align-items-center table-flush">
                                    <tbody class=" list">
                                        <tr>
                                            <th>Piso</th><td></td>
                                        </tr>
                                        <tr>
                                            <th>Valor U</th>
                                            <td>
                                                {{result?.pisoUV ?? '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.pisoCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table
                                    class="table align-items-center table-flush">
                                    <tbody class=" list">
                                        <tr>
                                            <th>Ventana</th><td></td>
                                        </tr>
                                        <tr>
                                            <th>Frontal / Valor U</th>
                                            <td>
                                                {{result?.ventanaFrontalUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.ventanaFrontalCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Posterior / Valor U</th>
                                            <td>
                                                {{result?.ventanaPosteriorUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.ventanaPosteriorCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Izquierda / Valor U</th>
                                            <td>
                                                {{result?.ventanaIzquierdaUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.ventanaIzquierdaCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Derecha / Valor U</th>
                                            <td>
                                                {{result?.ventanaDerechaUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.ventanaDerechaCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table
                                    class="table align-items-center table-flush">
                                    <tbody class=" list">
                                        <tr>
                                            <th>Pared</th><td></td>
                                        </tr>
                                        <tr>
                                            <th>Frontal / Valor U</th>
                                            <td>
                                                {{result?.paredFrontalUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.paredFrontalCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Posterior / Valor U</th>
                                            <td>
                                                {{result?.paredPosteriorUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.paredPosteriorCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Izquierda / Valor U</th>
                                            <td>
                                                {{result?.paredIzquierdaUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.paredIzquierdaCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Derecha / Valor U</th>
                                            <td>
                                                {{result?.paredDerechaUV ??
                                                '0.0'}} [W/m2-K]
                                                <accomplishment
                                                    [value]="result?.paredDerechaCumplimiento"
                                                ></accomplishment>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <h5 class="h4 card-title mb-4">Resultados del proyecto</h5>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <img
                            alt="Image placeholder"
                            class="card-img-top pr-3"
                            src="assets/img/formReferences/3.4VentanasGeneral.jpg"
                        />

                    </div>

                    <div class="col-md-12">
                        <ul class=" list-group list-group-flush">
                            <li class=" list-group-item">Su proyecto
                                <span *ngIf="generalAccomplishment == undefined">
                                    (cumple satisfactoriamente/no cumple)
                                </span>
                                <strong *ngIf="generalAccomplishment">
                                    cumple satisfactoriamente
                                </strong>
                                <strong *ngIf="generalAccomplishment === false">
                                    no cumple
                                </strong>
                                los requisitos
                                prescriptivos de la NEC-HS-EE</li>

                            <li class="list-group-item" *ngIf="simulation.confort > 0">
                                El proyecto presenta un
                                    {{simulation.confort | number : '1.2-2'}}%
                                de mejora en horas de confort respecto a la práctica de construcción usual.
                            </li>
                            <li class="list-group-item" *ngIf="simulation.confort < 0">
                                El proyecto presenta una reducción de
                                    {{simulation.confort | abs | number : '1.2-2'}}%
                                en horas de confort respecto a la práctica de construcción usual.
                            </li>
                            <li class="list-group-item" *ngIf="simulation.energia > 0">
                                El proyecto presenta una reducción de
                                    {{simulation.energia | number : '1.2-2'}}%
                                en desempeño energético respecto a la práctica de construcción usual
                            </li>
                            <li class="list-group-item" *ngIf="simulation.energia < 0">
                                El proyecto presenta un 
                                    {{simulation.energia | abs | number : '1.2-2'}}%
                                de mejora en desempeño energético respecto a la práctica de construcción usual
                            </li>
                            
                            <li class=" list-group-item"><button class=" btn btn-default" (click)="printResult()">Imprimir resultado</button></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>