<div class="row justify-content-center">
    <div class="col-md-6">

        <!-- Nombre del proyecto -->
        <div
            class="form-group"
            [ngClass]="{ focused: focus1 === true }">
            <label class="form-control-label">
                Nombre
            </label>
            <div class="input-group input-group-merge">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-ruler-pencil"> </i>
                    </span>
                </div>

                <input
                    class="form-control"
                    placeholder="Nombre del proyecto"
                    id="nombreProyecto"
                    (change)="addData($event.target.id,$event.target.value)"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false" />

            </div>
        </div>

    </div>
</div>

<div class="row justify-content-center">

    <div class="col-md-6">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h6 class="heading-small text-muted mb-4">Propietario</h6>
            </div>
            <div class="col-md-12">
                <!-- CI/RUC Propietario -->
                <div
                    class="form-group"
                    [ngClass]="{ focused: focus2 === true }">
                    <label class="form-control-label">
                        CI/RUC
                    </label>
                    <div class="input-group input-group-merge">

                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-credit-card"> </i>
                            </span>
                        </div>

                        <input
                            class="form-control"
                            id="inputPropietarioCI"
                            placeholder="CI/RUC"
                            type="text"
                            (change)="addData($event.target.id,$event.target.value)"
                            (focus)="focus2 = true"
                            (blur)="focus2 = false" />
                    </div>
                </div>
                <!-- CI/RUC -->
            </div>
            <div class="col-md-12">
                <!-- Nombre Propietario -->
                <div
                    class="form-group"
                    [ngClass]="{ focused: focus3 === true }">
                    <label class="form-control-label">
                        Nombre
                    </label>
                    <div class="input-group input-group-merge">

                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"> </i>
                            </span>
                        </div>

                        <input
                            class="form-control"
                            id="inputPropietarioNombre"
                            placeholder="Nombre"
                            type="text"
                            (change)="addData($event.target.id,$event.target.value)"
                            (focus)="focus3 = true"
                            (blur)="focus3 = false" />
                    </div>
                </div>
                <!-- Razón Social -->
            </div>

            <div class="col-md-12">
                <h6 class="heading-small text-muted mb-4">Técnico</h6>
            </div>
            <div class="col-md-12">
                <!-- CI/RUC Técnico -->
                <div
                    class="form-group"
                    [ngClass]="{ focused: focus4 === true }">
                    <label class="form-control-label">
                        CI/RUC
                    </label>
                    <div class="input-group input-group-merge">

                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-credit-card"> </i>
                            </span>
                        </div>

                        <input
                            class="form-control"
                            id="inputTecnicoCI"
                            placeholder="CI/RUC"
                            type="text"
                            (change)="addData($event.target.id,$event.target.value)"
                            (focus)="focus4 = true"
                            (blur)="focus4 = false" />
                    </div>
                </div>
                <!-- CI/RUC -->
            </div>
            <div class="col-md-12">
                <!-- Nombre Técnico -->
                <div
                    class="form-group"
                    [ngClass]="{ focused: focus5 === true }">
                    <label class="form-control-label">
                        Nombre
                    </label>
                    <div class="input-group input-group-merge">

                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"> </i>
                            </span>
                        </div>

                        <input
                            class="form-control"
                            id="inputTecnicoNombre"
                            placeholder="Nombre"
                            type="text"
                            (change)="addData($event.target.id,$event.target.value)"
                            (focus)="focus5 = true"
                            (blur)="focus5 = false" />
                    </div>
                </div>
                <!-- Nombre -->
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h6 class="heading-small text-muted mb-4">Ubicación</h6>
            </div>
            <div class="col-md-12">
                <!-- País -->
                <div
                    class="form-group"
                    [ngClass]="{ focused: focus6 === true }">
                    <label class="form-control-label">
                        País
                    </label>
                    <div class="input-group input-group-merge">

                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-building"> </i>
                            </span>
                        </div>

                        <input
                            class="form-control"
                            id="inputPais"
                            placeholder="Ecuador"
                            type="text"
                            disabled="disabled"
                            (focus)="focus6 = true"
                            (blur)="focus6 = false" />
                    </div>
                </div>
                <!-- País -->
            </div>
            <div class="col-md-12">

                <div class="form-group">
                    <!-- Ciudad -->
                    <label class="form-control-label">
                        Ciudad
                    </label>

                    <select class=" form-control" data-toggle="select"
                        id="selectorCiudad" (focus)="focus7 = true"
                        (blur)="focus7 = false"
                        (change)="onChange($event)">
                    </select>
                    <!-- Ciudad -->
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <!-- Zona climática -->
                    <label class="form-control-label">
                        Zona climática
                    </label>

                    <select #zones class=" form-control" data-toggle="select"
                        id="selectorZona" (focus)="focus8 = true"
                        (change)="addData($event.target.id,$event.target.value)"
                        (blur)="focus8 = false">
                    </select>
                    <!-- Zona climática -->
                </div>
            </div>
        </div>
    </div>

</div>