<div class="row justify-content-center">
    <div class="col-md-12">

        <!-- Ventana expuesta -->
        <div class id="first-list">
            <table class=" table align-items-center table-flush">
                <thead class=" thead-light">
                    <tr>
                        <th scope="col"  class="size-3 w-75">Tipo</th>

                        <th scope="col">Area [m2]</th>

                        <th scope="col">WWR [%]</th>

                        <!-- <th scope="col">U [W/m2-K]</th>

                        <th scope="col">SGHC[-]</th> -->

                    </tr>
                </thead>

                <tbody class=" list">
                    <tr>

                        <td>

                            <!-- Tipo -->

                            <select class="form-control upselectr"
                                data-toggle="select"
                                id="selectorVentanaTipo{{location | titlecase}}"
                                (change)="onChange(location,$event.target.value)">
                            </select>
                            <!-- Fin Tipo -->

                        </td>

                        <td>
                            <!-- Área -->
                            <input
                                id="inputVentanaArea{{location | titlecase}}"
                                class="form-control"
                                placeholder="0.0"
                                type="number"
                                min="0.0"
                                value="0.0"
                                (change)="onChangeArea($event.target.value)"
                            />
                            <!-- Fin Área​ -->
                        </td>

                        <td>
                            <!-- WWR -->
                            <input
                                id="inputVentanaWWR{{location | titlecase}}"
                                class="form-control"
                                placeholder="0.0"
                                type="number"
                                disabled="disabled"
                                min="0.0"
                                value="0.0"
                                [value]="wwr"
                            />
                            <!-- Fin WWR -->
                        </td>

                        <!-- U -->
                        <!-- <td>
                            
                            <input
                                id="inputVentanaU{{location | titlecase}}"
                                class="form-control"
                                placeholder="0.0"
                                disabled="disabled"
                                type="number"
                                min="0.0"
                                value="0.0" />
                            
                        </td> -->
                        <!-- Fin U​ -->

                        <!-- SGHC -->
                        <!-- <td>
                            
                            <input
                                id="inputVentanaSGHC{{location | titlecase}}"
                                class="form-control"
                                placeholder="0.0"
                                disabled="disabled"
                                type="number"
                                min="0.0"
                                
                                value="0.0" />
                            
                        </td> -->
                        <!-- Fin SGHC​ -->

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>