<div class="row justify-content-center">

  <div class="col-md-12">

    <div class="col-md-2 mb-2 offset-md-10 text-right">
      <button class=" btn btn-sm btn-success" type="button"
        (click)="addRowLayerCeiling()">
        Agregar capa
      </button>
    </div>

    <div class="col-md-12">

      <!-- Techo -->
      <div class id="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Capa</th>

              <th scope="col" class="size-3">Material</th>

              <th scope="col">Espesor [cm]</th>

              <th scope="col">k[W/m-K]​</th>

              <th scope="col">Dens. [kg/m3]</th>

              <th scope="col">Cp [J/kg-K]​</th>

              <th scope="col">Abs. Sol. [-]​</th>

              <th scope="col" aria-hidden="true" style="width: 30px"></th>
            </tr>
          </thead>

          <tbody class=" list">
            <p
              class="help-text mb-0 ml-4 rel-top-2"
              *ngIf="layers.length > 1"
            >
              Exterior
            </p>
            <!-- Ejemplo 1 -->
            <tr
              *ngFor="let layer of layers; let i = index;"
              [ngClass]="{ borderLess: i === 0 }"
            >
              <th scope="row">
                <!-- Capa -->
                <input
                  id="capaTecho{{layer.idx}}"
                  class="form-control"
                  placeholder="1.0"
                  disabled="disabled"
                  value="Capa {{layer.idx}}">
                <!-- <span>Capa {{layer.idx}}</span> -->
                <!-- Fin Capa -->
              </th>

              <td>
                <!-- Material -->
                <select class="form-control upselectr" data-toggle="select"
                  id="selectorTechoMaterial{{layer.idx}}"
                  (change)="onChange(layer.idx,$event.target.value)">
                </select>
                <!-- (change)="onChange(location,layer.idx,$event.target.value)" -->
                <!-- Fin Material -->
              </td>

              <td>
                <!-- Espesor -->
                <input
                  class="form-control"
                  id="inputTechoEspesor{{layer.idx}}"
                  placeholder="0.0"
                  type="number"
                  min="0.0"
                  value="0.0"
                  (change)="onChangeEspesor()" />
                <!-- Fin Espesor -->
              </td>

              <td>
                <!-- Conductividad térmica​ -->
                <input
                  class="form-control"
                  id="inputTechoConductividad{{layer.idx}}"
                  placeholder="0.0"
                  disabled="disabled"
                  type="number"
                  min="0.0"
                  value="0.0" />
                <!-- Fin Conductividad térmica​ -->
              </td>

              <td>
                <!-- Densidad -->
                <input
                  class="form-control"
                  id="inputTechoDensidad{{layer.idx}}"
                  placeholder="0.0​"
                  disabled="disabled"
                  type="number"
                  min="0.0"
                  value="0.0​" />
                <!-- Fin Densidad​ -->
              </td>

              <td>
                <!-- Calor especifico -->
                <input
                  class="form-control"
                  id="inputTechoCalor{{layer.idx}}"
                  placeholder="0.0​"
                  disabled="disabled"
                  type="number"
                  min="0.0"
                  value="0.0​​" />
                <!-- Fin Calor especifico -->
              </td>

              <td>
                <!-- Absortancia Solar -->
                <input
                  class="form-control"
                  id="inputTechoAbsortancia{{layer.idx}}"
                  placeholder="0.0"
                  disabled="disabled"
                  type="number"
                  min="0.0"
                  value="0.0​​​" />
                <!-- Fin Absortancia Solar -->
              </td>

              <td>
                <span
                  class="d-flex justify-content-center remove-button"
                  (click)="removeRowLayerCeiling(layer.idx)"
                >
                  <i class="fas fa-times"></i>
                </span>
              </td>
            </tr>
            <p
              class="help-text mb-0 ml-4"
              *ngIf="layers.length > 1"
            >
              Interior
            </p>
          </tbody>
        </table>
      </div>
      <!-- Fin -->

    </div>
  </div>

</div>