/* You can add global styles to this file, and also import other style files */

.tab-content {
    padding: 1.25rem;
    margin-top: 1.25rem;
    border: 1px solid #e6ecf1;
    border-radius: 0.25rem;
    background-color: #f5f7f9;
}

.size-1 {
    width: 12%;
}

.size-2 {
    width: 20%;
}

.size-3 {
    width: 35%;
}

table {
    table-layout: fixed !important;
}

@media (max-width: 767.98px) {
    .nav-pills:not(.nav-pills-circle) .nav-item {
      padding-right: 1rem !important;
    }
  }

ngx-datatable.ngx-datatable.bootstrap {
    .datatable-footer .datatable-pager ul li:not(.disabled).active a {
        background-color: #5e72e4 !important;
    }
    .page-count {
        color: #8898aa !important;
    }
}

p.help-text {
    font-size: 0.85rem;
}